/* --------------------
    RESET
-------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------
    DEBUG
-------------------- */

[class*="contain"], nav, .footer-logo,.footer-btn{
    border: 1px black dashed;
}

/* --------------------
    HEADER
-------------------- */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADD8E6;
    min-height: 80px; 
    margin: auto;
    font-size: 20px;
    line-height: 45px;
}

.contain-header{
    display: flex;
    background-color: orange;
    width: 1180px;
    min-height: 45px;
}

.contain-20{
    width: 20%;
    padding-left:  8px;
    padding-right: 8px;
}

nav{
    width: 60%;
    text-align: center;
}

.contain-login{
    text-align: right;
}

/* --------------------
    SECTION HERO
-------------------- */

[class*="section"]{
    padding: 50px 410px;
}

.section-blu{
    background-color: #02008B;
}

.contain-magenta{
    margin: auto;
    background-color: #EE82EE;
    width: 900px;
    min-height: 380px;
}

/* --------------------
    MAIN
-------------------- */

main{
    margin: auto;
}

.contain{
    display: flex;
    width: 1180;
    min-height: 380px;
}

.contain-blu{
    background-color:#1D90FF ;
    width: 60%;
}

.contain-pink{
    background-color:#FBBDC8 ;
    width: 40%;
}

.contain-green{
    background-color:#228C22 ;
    width: 100%;
    min-height: 900px;
}

.section-grey{
    background-color:#D3D3D3 ;
}
/* --------------------
    FOOTER
-------------------- */
.sec-black-1{
    background-color:#23272A ;
    padding: 10px 410px;
    padding-bottom: 40px;
    border-bottom: white solid 2px; 
}
.sec-black-2{
    background-color:#23272A ;
    padding: 0 410px;
    padding-top: 30px;
}
.contain-footer{
    display: flex;
    min-height: 580px;
}

.contain-salmon{
    background-color:#F08080 ;
    width: 30%;
}

.contain-petrol{
    display: flex;
    background-color:#20B2AA ;
    width: 70%;
}

.contain-sec{
    width: 25%;
}

.contain-water{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#7FFFD4 ;
    min-height: 80px;
}

.footer-logo, .footer-btn{
    background-color:#FFB6C1 ;
    width: 60px;
    text-align: center;
}
