/* --------------
    RESET
-------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------
    GENERAL
-------------- */

[class*="contain"]{
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

[class*="section"]{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* --------------
    DEBUG
-------------- */

[class*="contain"],.column,.nav,.logo,.login{
    border: dashed black 1px;
}

/* --------------
    HEADER
-------------- */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADD8E6 ;
    min-height: 80px;
}

.scontain-header{
    background-color: #DAA520;
}
.nav,.logo,.login{
    padding: 14px;
}
.nav{
    width: 60%;
    text-align: center;
}

.logo,.login{
    width: 20%;
}

/* --------------
    HERO
-------------- */

.section-hero{
    background-color: #00008C;
}

.contain-magenta{
    background-color: #EE82EE;
    width: 910px;
    min-height: 400px;
}

/* --------------
    MAIN
-------------- */
.contain > div{
    min-height: 380px;
}

.contain-blu{
    background-color: #1E90FE;
    width: 60%;
}

.contain-pink{
    background-color: #FFC1CB;
    width: 40%;
}

.contain-green{
    background-color: #228B22;
    min-height: 900px;
}

.section-gray{
    background-color: #D3D3D3;
}

/* --------------
    FOOTER
-------------- */

.footer{
    background-color: #23272A;
    padding-top: 10px;
}

.containtop-footer{
    margin-bottom: 40px;
}

.containtop-footer > div{
    min-height: 580px;
}

.contain-coral{
    width: 30%;
    background-color: #F08080;
}

.contain-petrol{
    width: 70%;
    background-color: #20B2AA;
}

.column{
    width: 25%; 
} 

hr{
    border: solid white 1px;
}

.containbottom-footer{
    margin-top: 30px;
}

.contain-aqua{
    justify-content: space-between;
    align-items: center;
    background-color: #7FFED4;
    min-height: 80px;
}

.footer-logo,.footer-btn{
    text-align: center;
    padding: 10px 8px;
    background-color: #EDA9B5;
    height: 40px;
}